
.header {
    display: flex;
    justify-content: space-between;
    border-style: solid;
    color: blueviolet;
}
.nav-items > ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.nav-items > ul > li {
   padding: 10px;
   margin: 10px;
   font-size: 25px;
}
.logo{
    width: 110px;

}
.body{
    border-style: solid;
    
  
}
.restro-containers{
    border-style: solid;
    
    

}
.resto-cards{
   display: flex;
    flex-wrap: wrap;
    margin: 10px;
    height: 350px;
    
}

.Restocards{
    margin: 1px;
    width: 250px;
    
    background-color: darkolivegreen;
}
.Restocards :hover{
    border: 1px solid black;
    cursor: pointer;

} 
.serachBar{
    padding: 10px;
    
    
  
}

.filter-btn{
    margin: 10px;
    width: 200px;
    height: 30px;
      cursor: pointer;
}
.quick-btn{
  width: 200px;
    height: 30px;
      cursor: pointer;  
}

.login-btn{
    padding: 0 20px;
    color: blue;
}
.green-dot {
  width: 10px;
  height: 10px;
  background: green;
  border-radius: 50%;
  display: inline-block;
}
.red-dot{
  width: 10px;
  height: 10px;
  background: goldenrod;
  border-radius: 50%;
  display: inline-block;
}
